output/*
TMP/
__pycache__/
.DS_Store
*.log
*.pkl

data/
model/
checkpoint/
work_dirs/

vllm/*
deploy/
.vscode/

!output/**/*.py
!data/**/*.py
!data/**/*.txt
!high_temp_sample/**/*.py
!high_temp_sample/**/*.txt

*.json
*.jsonl